div {
  text-align: left;
}
.main {
  margin: 0 auto;
  width: 1280px;
}
.ad {
  width: 100%;
  border-bottom: 1px solid black;
}
.mainCar {
  width: 100%;
}
.searchPart {
  display: block;
  float: left;
  width: 240px;
  padding-right: 1px;
  border: 1px solid #e5e5e5;
}
.searchH4 {
  position: relative;
  width: 238px;
  height: 40px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.searchSpan {
  display: block;
  padding-left: 15px;
  width: 100%;
  margin: auto 0;
}
.scrollGroup {
  background: #f5f5f5;
  height: 160px;
  overflow: auto;
}
.scrollGroup ul {
  padding: 10px 15px 0 0;
  position: relative;
  font-size: 14px;
}
.brandList {
  list-style: none;
  padding: 0 0 10px 20px;
  cursor: pointer;
}
.brandList a {
  text-decoration: none;
  color: black;
  &:hover {
    color: #d50527;
    transition: 0.5s;
  }
}
.hyundai {
  display: block;
  width: 100%;
  text-decoration: none;
  color: black;
}
.brandCar {
  width: 1040px;
  display: inline-block;
  padding: 20px;
}
.brandCar h2{
  margin: 10px 0;
}
.carList {
  width: auto;
  display: flex;
  list-style: none;
}
.carList li {
  width: 186px;
  height: 255px;
  margin-left: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.carList li a {
  width: 186px;
  display: block;
  color: black;
  text-decoration: none;
  &:hover {
    .carSubMenu {
      visibility: visible;
    }
    transition: all 3s;
  }
}
.carImg {
  width: 186px;
  height: 140px;
  margin-bottom: 10px;
}
.carName {
  display: block;
  width: 186px;
  height: 32px;
  overflow: hidden;
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 13px;
}
.carPrice {
  display: block;
  width: 186px;
  height: 32px;
  font-size: 14px;
  padding-top: 10px;
}
.carSubMenu {
  display: flex;
  height: 28px;
  justify-content: center;
  visibility: hidden;
  margin-top: 5px;
}
.carZzim {
  width: 50%;
  height: 26px;
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
}
.pagination,
.prev,
.next {
  position: relative;
  /* width: 28px; */
  padding: 40px 10px 20px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}
.pagination a {
  text-decoration: none;
  display: inline-block;
  width: 28px;
  height: 28px;
  padding: 0 5px;
  text-align: center;
  font-weight: bold;
  border-radius: 5px;
  line-height: 28px;
}
.currentPage {
  color: #d50527;
  border: 1px solid #d50527;
}

