.carMain {
  margin: 0 auto;
  width: 1280px;
}

.carImg {
  width: 600px;
  height: 600px;
  float: left;
}

.img {
  width: 520px;
  margin: 40px;
}
.carInfo {
  width: 680px;
  padding-left: 10px;
  margin-top: 40px;
  float: right;
  position: relative;
}
.carName {
  margin-bottom: 40px;
}
.carPrice {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  font-size: 20px;
  padding: 24px 0;
  margin-bottom: 20px;
}
.btn {
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn button {
  width: 220px;
  height: 60px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 20px;
  &:hover {
    background-color: #d50527;
    color: white;
  }
}
